{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    {% if post.collection == 'teaching' %}
      <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
    {% elsif post.collection == 'publications' %}
      <h3>
        <span style="color:#337FE5;line-height:1;font-size:18px;">{{ post.title }}</span>
      </h3>
      <div>
        <span><span style="font-size:18px;">{{ post.author }}</span></span>
      </div>
      <i>{{ post.venue }}<span style="font-size:18px;"></span></i>
        <a href="{{ post.paperlink }}" class="btn btn--success">Link</a>
      {% if post.code %}
        <a href="{{ post.code }}" class="btn btn--info">Code</a>
      {% endif %}
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" class="btn btn--danger">PDF</a>
      {% endif %}
    {% endif %}

  </article>
</div>
